body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}

h1, h2 {
    color: #1a9810;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

p {
    text-align: justify;
}
